div {
  margin: 30px;
  width: 600px;
  height: 100px;
  background-color: rgb(247, 48, 81);
  border-radius: 1ch;
  position: absolute;
  color: aliceblue;
  top: 50px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

p {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}
